<div class="container">
  <form (ngSubmit)="upload()" [formGroup]="photoForm" class="row">
    <div class="col-md-6 text-center">
      <button (click)="fileInput.click()" class="btn btn-primary" type="button">
        <i class="fa fa-image fa-4x align-middle"></i>
      </button>
      <input
        #fileInput
        (change)="photoFile = $any($event).target.files[0]"
        accept="image/*"
        formControlName="file"
        hidden
        type="file"
      />
      <div *ngIf="file?.invalid" class="text-danger">
        {{ validationFields('file') }}
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <textarea
          class="form-control form-control-sm"
          formControlName="description"
          placeholder="photo description"
        ></textarea>
        <div *ngIf="description?.touched && description?.invalid" class="text-danger">
          {{ validationFields('description') }}
        </div>
      </div>
      <div class="form-check mt-1">
        <label class="text-muted me-2"> Allow comments </label>
        <input class="form-check-input" formControlName="allowComments" type="checkbox" />
      </div>
      <div class="d-grid gap-2 mt-3">
        <button [disabled]="photoForm.invalid" class="btn btn-primary" type="submit">
          Upload
        </button>
        <a class="btn btn-secondary">Cancel</a>
      </div>
    </div>
  </form>
</div>
