<div class="container">
  <form (ngSubmit)="upload()" [formGroup]="photoForm" class="row">
    <div class="col-md-6 text-center">
      <div *ngIf="!preview; else showPreviewImage">
        <button (click)="fileInput.click()" class="btn btn-primary" type="button">
          <i class="fa fa-image fa-4x align-middle"></i>
        </button>
        <input
          #fileInput
          (change)="handleFile($any($event).target.files[0])"
          accept="image/*"
          apImediateClick
          formControlName="file"
          hidden
          type="file"
        />
        <div *ngIf="file?.invalid" class="text-danger">
          {{ validationFields('file', '') }}
        </div>
      </div>

      <ng-template #showPreviewImage>
        <div class="text-center">
          <ap-photo [title]="preview" [url]="preview!"></ap-photo>
        </div>
      </ng-template>
    </div>
    <div class="col-md-6">
      <div>
        <textarea
          class="form-control form-control-sm"
          formControlName="description"
          placeholder="photo description"
        ></textarea>
        <div *ngIf="description?.touched && description?.invalid" class="text-danger">
          {{ validationFields('description', 'Descrição') }}
        </div>
      </div>
      <div class="form-check mt-1">
        <label class="text-muted me-2"> Allow comments </label>
        <input class="form-check-input" formControlName="allowComments" type="checkbox" />
      </div>
      <div class="d-grid gap-2 mt-3">
        <button [disabled]="photoForm.invalid" class="btn btn-primary" type="submit">
          Upload
        </button>
        <a class="btn btn-secondary">Cancel</a>
      </div>
    </div>
  </form>
</div>
