<div *ngIf="comments$ | async as comments">
  <ul class="list-unstyled">
    <li *ngFor="let comment of comments">
      <a [routerLink]="['/user', comment.userName]" class="text-dark me-1">{{
        comment.userName
      }}</a>
      <em>{{ comment.date | date : 'dd/MM/yyyy HH:mm' }}</em>
      <p class="text-break mb-2">{{ comment.text }}</p>
    </li>
  </ul>
  <div class="mt-4">
    <form (ngSubmit)="addComment()" [formGroup]="commentForm">
      <div>
        <textarea class="form-control" formControlName="comment"></textarea>
        <div class="input-group d-grid mt-2">
          <button
            [disabled]="commentForm.invalid"
            class="btn btn-primary pull-left"
            type="submit"
          >
            Publish
          </button>
        </div>
      </div>
      <div *ngIf="comment?.invalid" class="text-danger">
        {{ validationFields('comment', 'Comentário') }}
      </div>
    </form>
  </div>
</div>
