<div *ngIf="photo$ | async as photo" class="bg-white container">
  <div class="row">
    <div class="col-lg-6">
      <ap-photo [description]="photo.description" [url]="photo.url"></ap-photo>
    </div>

    <div class="col-lg-4 p-6">
      <small>
        <p class="text-start break-word">{{ photo.description }}</p>
        <div class="text-start mb-4">
          <i class="fa fa-comment ms-2"
            ><span class="ms-2">{{ photo.comments }}</span></i
          >
          <i (click)="remove()" class="fa fa-trash pull-right"></i>
        </div>
        <hr />
      </small>

      <ap-photo-comments
        *ngIf="photo.allowComments; else warning"
        [photoId]="photo.id"
      ></ap-photo-comments>

      <ng-template #warning>
        <p>O usuário desabilitou comentários para esta foto</p>
      </ng-template>
    </div>
  </div>
</div>
