<div class="container">
  <h4 class="text-center mt-4">Login</h4>
  <form [formGroup]="loginForm" class="mt-4">
    <div class="mb-3">
      <input
        #userNameInput
        autofocus
        class="form-control"
        formControlName="userName"
        placeholder="user name"
        type="text"
      />
      <div *ngIf="username?.touched && username?.invalid" class="text-danger">
        {{ validationFields('userName') }}
      </div>
    </div>
    <div>
      <input
        class="form-control"
        formControlName="password"
        placeholder="password"
        type="password"
      />
      <div *ngIf="password?.touched && password?.invalid" class="text-danger">
        {{ validationFields('password') }}
      </div>
    </div>
  </form>
  <div class="d-grid mt-2 mb-2">
    <button
      (click)="login()"
      [disabled]="loginForm.invalid"
      class="btn btn-primary"
      type="submit"
    >
      Login
    </button>
  </div>
  <p>Not a user?<a [routerLink]="['signup']" class="ms-2">Register now</a></p>
</div>
